.tweetContainer {
  width: 300px;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid black; */
}

.tweetContainer::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

.tweetContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.tweetContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.twitterTweetWrapper {
  width: 100%;
}

.twitterTweetWrapper iframe {
  width: 100% !important;
}

.tweetErrorMessage {
  padding: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
